html, button, input, select, textarea{
    color: #444;
}

html{
    font-size: 1em;
    line-height: 1.4;
    background-color: #FFF;
}

#wrapper{
    max-width: 900px;
    min-width: 320px;
    align: center;
    align-content: left;
}

header>img{
    float: right;
    margin-top: 0;
    position: relative;
    display: block;
    border-radius: 50px;
    color: rgb(187, 46, 46);
    box-shadow: 5px 5px 5px rgba(197, 48, 18, 0.2);
}

#wrapper #header h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

