@media only screen and (max-width:740px){


}
@media only screen and (max-width:570){
    #wrapper{
        
    }
}
@media only screen and (max-width:480px){
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200;
        border-radius: 50%;
        margin-top: 5px;

    }
    .info {
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;

    }
}
